.MenuCards-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    background-color: black;
}

.bottom-unlimited {
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    padding: 50px;
    padding-left: 95px;
    padding-right: 95px;
}

.bottom-unlimited h2 {
    padding-bottom: 5px;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 35px;
}

.menu-container  {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.fiveFoodList a {
    text-decoration: none;
    color: white;
}

.menu-container .LeftContainer {
    width: 1300px;
}