.Block-image-text {
    display: flex;
    gap: 100px;
}

.Block-image-text p {
    margin-top: 20px;
}


.Left-content {
    flex: 0;
}

.Right-content {
    flex: 2;
}

.BlockOpeningHours {
    color: white;
}

.BlockOpeningHours h2 {
    color: white;
    font-size: 50px;
}

.BlockOpeningHours p {
    border-bottom: 1px solid goldenrod;
    padding: 50px;
    font-size: 20px;
    margin-bottom: 50px;
}