.headerSelectFood {
    margin-top: 170px;
    margin-bottom: 80px;
}

.headerSelectFood div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerSelectFood h3 {
    color: white;
    border: 1px solid white;
    padding: 25px;
}

.border-line {
    width: 550px;
    height: 1px;
    background-color: white;
}