
.headerSelectFood div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerSelectFood h3 {
    color: white;
    border: 1px solid white;
    padding: 25px 60px 25px 60px;
    text-align: center;
    font-size: 22px;
}

.headerSelectFood {
    margin: 80px 0px 80px 0px;
}

.border-line {
    width: 550px;
    height: 1px;
    background-color: white;
}