.header-container {
    display: flex;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 50px;
    width: 120px;
    margin-right: 25px;
}

ul {
    display: flex;
}

/* nav {
    margin-top: 10px;
} */

li {
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 50px;
}