.NavFooter {
    border-top: goldenrod 1px solid;
    border-bottom: goldenrod 1px solid;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 50px ;
    padding-bottom: 50px ;
    color: white;
}

.FirstCol {
    padding-left: 200px;
    padding-right: 200px;
}

.MainCol {
    display: flex;
    margin-top: 30px;
    gap: 50px;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.Copyright {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: white;
}