.headerSelectFood {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
}

.headerSelectFood h3 {
    color: white;
    border: 1px solid white;
    padding: 25px;
}

.border-line {
    width: 700px;
    color: white;
    border: 1px solid white;
}