#WallpaperContainer {
    height: 85vh;
}

.WallpaperHome {
    height: 85vh;
    background-image: url('../../../assets/wallpaper/background_wallpaper.jpg');
    opacity: 0.5;
}

.IntroducingHome {
    position: absolute;
    top: 200px;
    color: white;
    background: transparent;
    margin: 200px 0px 0px 200px;
}

.IntroducingHome h2 {
    background: transparent;
    font-size: 60px;
    letter-spacing: 5px
}

.ButtonMenu {
    margin-top: 20px;
}