#Booking-container {
    height: 100vh;
    background-color: black;
}

.Booking-Form {
    height: 70vh;
    margin: auto;
    padding: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.Booking-Form p {
    display: inline-block;
    margin-bottom: 20px;
}

.Booking-Form h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

.Booking-Form label {
    text-align: left;
    padding: 5px;
}

.Booking-Form input, .Booking-Form textarea {
    margin-bottom: 15px;
    background-color: transparent;
    padding: 15px;
    border: 1px solid white;
    color: grey;
}


.Booking-Form input:focus, textarea:focus {
    box-shadow: 0 0 15px white;
    color: white;
}

.Booking-Form .Button {
    margin: 50px auto 0 auto;
}

.error-message {
    color: red;
}