.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.logo {
    height: 55px;
    width: 150px;
    margin-right: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

ul {
    display: flex;
}

li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 50px;
}

/*     HOVER    */
li a:hover {
    /* border: 1px solid gold; */
    color: goldenrod;
    
}