.chefspecialSuggestion {
    display: flex;
    margin-top: 100px;
}

.headerChefSpecialSuggestion h2 {
    color: white;
    font-size: 50px;
    letter-spacing: 5px
}

.chefspecialSuggestion img {
    height: 30rem;
    width: 20rem;
    border: 2px solid transparent;
    transition: border-color 0.3 ease;
    padding: 40px;
}

.chefspecialSuggestion a {
    text-decoration: none;
}

.chefspecialSuggestion img:hover {
   border-color: white;
}

.ThreeDish {
    display: flex;
    flex-direction: column;
}

.ThreeDish p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: white;
}
