.SixDish {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.fiveFoodList a {
    text-decoration: none;
    color: white;
}

.FoodName {
    font-size: 30px;
    margin-bottom: 10px;
    color: goldenrod;
}

.FoodDescription {
    font-size: 20px;
    width: 50rem;
}

.selectFood {
    padding-right: 30px;
    padding-left: 30px;
}

.fiveFoodList {
    padding: 0 300px 0 300px;
}

